@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.details-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.details-enter-active {
  max-height: 500px; /* Giá trị này nên đủ lớn để chứa nội dung đầy đủ */
  opacity: 1;
}

.details-exit {
  max-height: 500px;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.details-exit-active {
  max-height: 0;
  opacity: 0;
}
